**/target/
**/.idea/
**/.vscode/
**/.settings/
**/.classpath
**/.project
**/*.iml
**/*.iws
**/*.ipr
.git/
.gitignore
.gitattributes
HELP.md
README.md
**/build/
**/out/
**/.DS_Store
**/.mvn/wrapper/maven-wrapper.jar
docker-compose*.yml
.dockerignore
Dockerfile
**/Dockerfile
