# Database
DB_NAME=zorrobpm-db
DB_USERNAME=zorrodev
DB_PASSWORD=zorrodev
DB_PORT=5432

# RabbitMQ
RABBITMQ_USERNAME=zorrodev
RABBITMQ_PASSWORD=zorrodev
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Application
APP_PORT=8080
JAVA_OPTS=-Xms256m -Xmx1g
